<p>This Solr instances is used to display search results on the
    <a href="http://bibliothequesonore.ch/recherche" style="text-decoration: underline">BSR website</a> and both the
    <a href="https://itunes.apple.com/ch/app/livres-audio-bsr/id670958716" style="text-decoration: underline">iOS</a> and
    <a href="https://play.google.com/store/apps/details?id=bibliothequesonore.ch.livresbsrandroid&hl=en" style="text-decoration: underline">Android</a>
    applications.
</p>

<p>More information can be found on the <a href="http://192.168.1.250/dokuwiki/doku.php?id=solr" style="text-decoration: underline">internal wiki</a>.</p>